        <img src="img/4.png" class="rounded-circle" width="50%" height="50%">
            <div class="banner-content">
                <h2>Hello Everyone>>></h2>
                <p>
                Halo, saya Lutvi Wahyudi, seorang mahasiswa Teknik Informatika di Universitas Malikussaleh, Aceh, dengan rumah di Depok,
                Jawa Barat. Saya memiliki keahlian dalam mengerjakan berbagai proyek berbasis website, mulai dari pendataan hingga IoT
                dan Company Profile. Selain itu, saya menguasai beberapa bahasa pemrograman seperti PHP, JavaScript, dan C++, serta
                memiliki kemampuan dalam desain grafis, terutama pembuatan poster dan flyer. Saya percaya kombinasi keahlian saya dalam
                teknologi dan desain grafis akan membantu saya dalam mengejar tujuan karier saya. Saya bersemangat untuk berkontribusi
                dalam proyek-proyek masa depan dan siap untuk belajar dan berkembang lebih lanjut dalam bidang ini. Terima kasih atas
                kesempatan untuk memperkenalkan diri.        </p>
            </div>