<div class="container mt-5">
    <div class="row">
            <div class="card" style="width: 18rem; margin-left: 6%;">
                <img src="img/1.png" class="card-img-top img-fluid">
                <div class="card-body">
                    <h5 class="card-title">SimartProject2024</h5>
                    <p class="card-text">Project IoT sistem cerdas irigasi berbasis website</p>
                    <a href="https://simart.my.id/" class="btn btn-primary">To Visit</a>
                </div>
            </div>
            <div class="card" style="width: 18rem; margin-left: 6%;">
                <img src="img/2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hidroponik2024</h5>
                    <p class="card-text">Sistem cerdas pemberian nutrisi</p>
                    <a href="https://github.com/lutviwahyudi/hidroponik_iot" class="btn btn-primary">To Visit</a>
                </div>
            </div>
            <div class="card" style="width: 18rem; margin-left: 6%;">
                <img src="img/3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">MahirPonpes</h5>
                    <p class="card-text">Website company profile pondok pesantren</p>
                    <a href="https://lutviwahyudi.github.io/MahirPonpes/" class="btn btn-primary">To Visit</a>
                </div>
            </div>
    </div>
</div>